<h2 class="page-header2">About Me</h2>

<ul>
    
    <%= image_tag('Schoolgirl-satan.png', id: "schoolgirl-satan") %>

    <p id="about-text">In 1995, I was born in Chicago, Illinois. After a turbulent year of living the city life, I was brought to a seemingly mild town called "Galesburg" where I continue to dwell amongst the people and corn. It was here that I learned the mystical practice of bi-pedal walking and speech, which, ultimately led to my discovery of videogames and online media. Throughout my childhood I developed vehement, yet unpursued, interest in computer technology; the interactivity of information in real-time and the production behind it, has produced vast amounts of information. We can search any idea (no matter how abstract) and something will result on Google, we can sink hours of our lives into a digitally rendered world and create lasting relationships with characters who have human (or non-human) attributes and personalities, right in the comfort of our home, we can to make precise calculations (only subject to human error), we can even FaceTime loved ones across the globe, the applicable potential of computers is truly endless. This concept both intimidates and intrigues me and has left me determined to learn the complexities it takes to make something of myself in the world of computer development.</p>
</ul>