<h2 class="page-header">Contact Jack</h2>

    

    <p id="phone-number"><i class="fas fa-phone-volume"></i>Phone Number: 309-368-9804 </p>
    <p><%= link_to("Email: jlanciloti713@gmail.com", "mailto:jlanciloti713@gmail.com", id: "page-info") %></p>
    <%= link_to("Also, click here for a look at my Github!", "https://github.com/jlanciloti713", target: "_blank", id: "page-info") %>
